@{
    ViewData["Title"] = "Main page";
}


<h1 style="text-align: center;"><strong>Welcome to JJ Hotel</strong></h1>
<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/398640583.jpg?k=f9ff150ec1f02361417ed28dbd28c2e8cadca6d43ba432f23e2ba515c712b6f9&o=&hp=1">
<p style="text-align: center;"><strong><br>Discover a luxurious escape nestled in the heart of the city, where comfort meets convenience and every stay is unforgettable.</strong></p>


<h2 style="text-align: center;"><br><br><strong>Our Highlights</strong></h2>
<p style ="text-align: center;">
    Indulge in premium services and exslusive offerings that make <strong><em>JJ Hotel</em></strong> your preferred destination for relaxation and busness.<br><br>
    <strong><em>Luxury Rooms</em></strong><br>
    Elegantly designed rooms equipped with topnotch amenities to ensure unparalleled comfort.<br>
    <strong><em>Gournet Dining</em></strong><br>
    Savor culinary delights at our signature restaurants offering a range of international cuisines.<br>
    <strong><em>Wellness Spa</em></strong><br>
    Rejuvenate with our spa treatments and wellness programs curated for your ultimate relaxation.
</p>

<h2 style="text-align: center;"><br><strong>Perfect stays</strong></h2>
<p style="text-align: center;">
    Each feature of StayEase Inn is crafted with guest satisfaction in mind, ensuring an experience that is as perfect as it is unique.<br><br>
    <strong><em>Central Location</em></strong><br>
    Find yourself moments away from key attractions and business districts to make the most of your visit.<br>
    <strong><em>Free Wi-Fi</em></strong><br>
    Unlimited access to high-speed internet to keep you connected throughout your stay.<br>
    <strong><em>24/7 Service</em></strong><br>
    Our dedicated staff are available around the clock to cater to your every need.
</p>

<h2 style="text-align: center;"><br><strong>FAQs</strong></h2>
<p style="text-align: center;">
    Get answers to your questions and plan your stay with peace of mind at <em>JJ Hotel</em><br><br>
    <strong><em>Pet Policy?</em></strong><br>
    Yes, we happily welcome pets! Learn more about our pet-friendly amenities and services.<br>
    <br><strong><em>Cancellation?</em></strong><br>
    Enjoy hassle-free cancellation up to 48 hours before your stay. Read our full policy for details.<br>
    <br><strong><em>Group Bookings?</em></strong><br>
    Avail special rates for group reservations. Contact us for a tailored experience.<br>
    <br><strong><em>Breakfast Included?</em></strong><br>
    Yes, enjoy a complimentary gourmet breakfast with a variety of choices to start your day right.
</p>


