@{
    ViewData["Title"] = "Main page";
}


<h1 style="text-align: center;"><strong>Welcome to JJ Hotel</strong></h1>
<img src="images/hotel_na4alna.jpg">
<p style="text-align: center;"><strong>Discover a luxurious escape nestled in the heart of the city, where comfort meets convenience and every stay is unforgettable.</strong></p>


<h2 style="text-align: center;"><br>Our Highlights</h2>
<p>
    Indulge in premium services and exslusive offerings that make <strong><em>JJ Hotel</em></strong> your preferred destination for relaxation and busness.<br><br>
    <strong>Luxury Rooms</strong><br>
    Elegantly designed rooms equipped with topnotch amenities to ensure unparalleled comfort.<br>
    <strong>Gournet Dining</strong><br>
    Savor culinary delights at our signature restaurants offering a range of international cuisines.<br>
    <strong>Wellness Spa</strong><br>
    Rejuvenate with our spa treatments and wellness programs curated for your ultimate relaxation.
</p>

<h2 style="text-align: center;"><br>Perfect stays</h2>
<p>
    Each feature of StayEase Inn is crafted with guest satisfaction in mind, ensuring an experience that is as perfect as it is unique.<br><br>
    <strong>Central Location</strong><br>
    Find yourself moments away from key attractions and business districts to make the most of your visit.<br>
    <strong>Free Wi-Fi</strong><br>
    Unlimited access to high-speed internet to keep you connected throughout your stay.<br>
    <strong>24/7 Service</strong><br>
    Our dedicated staff are available around the clock to cater to your every need.
</p>

<h2 style="text-align: center;"><br>FAQs</h2>
<p>
    Get answers to your questions and plan your stay with peace of mind at <em>JJ Hotel</em><br><br>
    <em>Pet Policy?</em><br>
    Yes, we happily welcome pets! Learn more about our pet-friendly amenities and services.<br>
    <br><em>Cancellation?</em><br>
    Enjoy hassle-free cancellation up to 48 hours before your stay. Read our full policy for details.<br>
    <br><em>Group Bookings?</em><br>
    Avail special rates for group reservations. Contact us for a tailored experience.<br>
    <br><em>Breakfast Included?</em><br>
    Yes, enjoy a complimentary gourmet breakfast with a variety of choices to start your day right.
</p>


